*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 5vh;
    font-family: Aldrich;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #232323;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
}


body{
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    background-color:#232323;
    border-bottom: 0.5px solid rgb(78, 78, 78);
    height: 5vh;
    font-size: 3vh;
    display: flex;
    align-items: center;
    min-height: 40px;
}

.header > span{
    margin-left: 2vw;
    font-size: 3vh;
}

.main{
    
    height: 65vh;
    display: flex;
}

.left{
    background-color: #232323;
    border-right: 0.5px solid rgb(78, 78, 78);
    height: 65vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
    min-width: 250px;
}

@media screen and (max-width: 675px) {
    .left{
        display: none;
    }

    .right{
        
        width: 100vw !important;
    }

    .main{
        align-items: center;
        justify-content: center;
    }
}

.list{
    width: 28vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 30px;
    overflow-y: scroll;
    min-width: 240px;
    margin-bottom: 10px;
    padding: 10px;
}

.search{
   
    height: 30px;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #555;
    min-width: 200px;
    margin-top: 10px;
}

.listItem{
    background-color: #333333;
    width: 10vw;
    height: 8vh;
    border-radius: 15px;
    min-width: 150px;
    min-height: 80px;
    cursor: pointer;
}

.name{
    font-size: 2vh;
    margin-left: 10px;
    margin-top: 5px;
}

.statusPlaceholder{
    font-size: 1.5vh;
    margin-left: 10px;
}

.status{
    height: 40px;
    width: 130px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.statusIcon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}








.right{
    
    height: 65vh;
    width: 70vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    overflow-y: scroll;
    background-image: url("../img/bgBlur.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}



.card{
    background-color:  #333333;
    height: 25vh;
    min-width: 400px;
    min-height: 170px;
    width: 25vw;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #555;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.cardTitle{
    font-size: calc(20px + 1vh);
    height: 3vh;
    padding-left: 10px;
    
}

.cardMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 20vh; 
    width: 100%;
    
   
}

.mainInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 25px;
    height: 10vh;
    width: 100%;
}

.subInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    margin-left: 10px;
    height: 7vh;
    width: 95%;
    margin-top: 10px;
}

.info{
    font-size: calc(12px + 0.5vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.HRicon
{
   
   height: 55px;
}
.HRvalue
{
   font-size: calc(30px + 0.5vh);
    margin-left: 10px;
    margin-top: -5px;
}

.TPicon
{
   
   height: 55px;
}
.TPvalue
{
   font-size: calc(30px + 0.5vh);
    margin-left: -5px;
    margin-top: -5px;
}

.O2icon
{
   
   height: 55px;
   margin-top: -15px;
}
.O2value
{
   font-size: calc(30px + 0.5vh);
    margin-left: 5px;
    margin-top: -5px;
}



.footer{
    display: flex;
    height: 30vh;
    min-height: 250px;

    border-top: 1px solid #555;
    align-items: center;
    justify-content: center;
}

@media screen and (max-height: 350px) {

    .main{
        height: 90vh !important;
        
    }

    .left{
       height: auto;
    }

    .right{
        height: 90vh !important;
        overflow-y: scroll;
    }

    

    .footer{
        display: none;
    }
}

