*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 5vh;
    font-family: Aldrich;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #232323;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
}


body{
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    background-color:#232323;
    border-bottom: 0.5px solid rgb(78, 78, 78);
    height: calc(50px + 2vh);
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > span{
    font-size: calc(20px + 1vh);
    
    height: 100%;
    line-height: calc(50px + 2vh);
}

.mainVisible{
    
    height: calc(70vh - (50px + 2vh));
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.mainHidden{
    
    height: 65vh;
    display: flex;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.left{
    background-color: #232323;
    border-right: 0.5px solid rgb(78, 78, 78);
    
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
    min-width: 250px;
   
}

@media screen and (max-width: 675px) {
    .left{
        display: none;
    }

    .right{
        
        width: 100vw !important;
    }

    .main{
        align-items: center;
        justify-content: center;
    }
}

.list{
    width: 28vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 30px;
    overflow-y: scroll;
    min-width: 240px;
    margin-bottom: 10px;
    padding: 10px;
    
}

.search{
    height: 40px;
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background-color: transparent;
   
    margin-top: 15px;
    font-size: 14px;
    padding: 6px;
    padding-left: 10px;
    transition: all 0.5s ease-in-out;
    color: white;
    cursor: pointer; 
    outline: none;
}

.addButton{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #555;
    cursor: pointer; 
    margin-left: 5px;
    padding: 5px;
    transition: 0.5s ease-in-out;
}

.addButton:hover{
   
    background-color: #777;
    cursor: pointer; 
    
}

.addButton > svg {
    transform:  rotate(0deg);
    transition: 0.5s ease-in-out;
}

.addButton:hover > svg {
    transform:  rotate(90deg);
    transition: 0.5s ease-in-out;
}


.search > input{
    background-color: #555;
    border-radius: 15px;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    resize: none;
    width: calc(100% - 80px);
    padding-top: 5px;
    padding-left: 5px;
    
    height: 30px;
}

.search > svg{
    margin-right: -5px;
    height: 25px;
}

.listItem{
    background-color: #333333;
    width: calc(110px + 5vw);
    height: calc(80px + 5vh);
    border-radius: 15px;
    min-width: 150px;
    min-height: 80px;
    cursor: pointer;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.name{
    font-size: calc(12px + 1vh);
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status{
    height: calc(30px + 2vh);
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    flex-direction: column; 
}


.statusPlaceholder{
    font-size: calc(12px + 1vh);
    display: flex;
    align-items: center;
    justify-content: center;
}



.statusIcon{
    height: 60%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
}




.right{
    width: 70vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    overflow-y: scroll;
    background-image: url("../img/bgBlur.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90vmax;
}

.placeholderRight{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    font-size: calc(35px + 2vh);
}

.right::-webkit-scrollbar {
    width: 0px;
}


.card{
    background-color:  #333333;
    height: calc(200px + 15vh);
    width: calc(400px + 15vw);
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #555;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 18px;
}
.cardPerm{
    background-color:  #333333;
    height: calc(200px + 15vh);
    width: calc(400px + 15vw);
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #555;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 18px;
}
.org{
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.org > select {
    background-color: rgba(176, 176, 176, 0.2);
    border: none;
    outline: none;
    border-radius: 10px;
    width: 30%;
    height: 30px;
    font-size: calc(8px + 1vh);
}

.permInput{
    background-color: rgba(176, 176, 176, 0.2);
    border: none;
    border-radius: 10px;
    width: 60%;
    font-size: calc(12px + 1vh);
    padding: 8px;
}
.sendMsg{
    background-color: rgba(0, 98, 255, 1);
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    font-size: calc(12px + 1vh);
    padding: 8px;
    cursor: pointer;
}
.cardTitle{
    font-size: calc(20px + 1vh);
    height: 20%;
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardMain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: wrap; 
    width: 100%;
    height: 80%;
}

.mainInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 25px;
    height: 60%;
    width: 100%;
}

.subInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    gap: 10px;
}

.missionStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding-left: 15px;
    height: 90%;
    width: 30%;
    font-size: calc(8px + 1vh);
    text-wrap: nowrap;
}

.subInfo > input {
    background-color: rgba(176, 176, 176, 0.2);
    border: none;
    border-radius: 10px;
    width: 50%;
    font-size: calc(12px + 1vh);
    padding: 8px;
}

.confirmMission {
    background-color: rgba(0, 98, 255, 0.8);
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    font-size: calc(12px + 1vh);
    padding: 8px;
    cursor: pointer;
}


.info{
    font-size: calc(12px + 1vh);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.HRicon
{
   height: 55px;
}
.HRvalue
{
   font-size: calc(15px + 0.5vh);
    margin-left: 10px;
    margin-top: -5px;
}

.TPicon{
   
   height: 55px;
}
.TPvalue{
   font-size: calc(15px + 0.5vh);
    margin-left: -5px;
    margin-top: -5px;
}

.O2icon{
   
   height: 55px;
   margin-top: -15px;
}
.O2value{
   font-size: calc(15px + 0.5vh);
    margin-left: 5px;
    margin-top: -5px;
}

.footerCompressed{
    display: flex;
    height: calc(100vh - (70vh ));
    width: 100vw;
    background-color: #232323;
    border-top: 1px solid #555;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0px;
    gap: 30px;
    transition: height 1s ease-in-out;
    
}

.footerExtended{
    display: flex;
    height: 95vh;
    width: 100vw;
    min-height: 250px;

    border-top: 1px solid #555;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #232323;

    position: absolute;
    bottom: 0px;
    transition: height 1s ease-in-out;
    transition-delay: 0.2s;
}


.extenderUp{
    height: 20px;
    width: 40px;
    transform: rotate(0deg);
    border: 1px solid #888;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #232323;
    cursor: pointer;

    position: absolute;
    top: -12px;
    z-index: 100;
    transition: transform 0.5s ease-in-out;
    transition-delay: 1s;
}

.extenderDown{
    height: 20px;
    width: 40px;
    transform: rotate(180deg);
    border: 1px solid #888;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #232323;
    cursor: pointer;
    position: absolute;
    top: -12px;
    transition: transform 0.5s ease-in-out;
    transition-delay: 1s;
    z-index: 100;
}

.tunnelLenghtVisualizer{
    height: 3px;
    width: 95vw;
    border-bottom: 3px solid #555;
    border-radius: 5px;
    margin-bottom: -5px;
    
    display: flex;
    
}
.segment{
    height: 15px;
    width: 100%;
    border-right: 2px solid #777;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-top: -5px;

    display: flex;
    justify-content: space-between;
}

.anchorDisplay{
    font-size: calc(8px + 1vh);
    margin-top: -25px;
    margin-left: -20px;
}
.segment:last-child{
    height: 25px;
    width: 100%;
    border: none;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-top: -5px;
}

.map{
    height: 17vh !important;
    width: 95vw;
    border-radius: 15px;
    background-color: #333333;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}



.mapSection{
    height: 100%;
    width: 100%;
    border-right: 1px solid #555;
    scale: 1;
    transition: all 0.5s ease-in-out;
}

.whois{
    width: 300px;
    height: 120px;
    border-radius: 15px;
    background-color: rgba(77, 77, 77, 0.9);
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translate(-50%, -50%);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    color: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    
}

.whoisDisp {
    font-size: calc(6px + 1vh);
}


.mapSectionTemp{
    height: 100%;
    width: calc(100% / 8);
    border: 1px solid #555;
    border-radius: 15px;
    scale: 1;
}


.firstAnchor{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: green;
}


.mapSection:last-child{
    height: 100%;
    width: 100%;
    border-right: none;
}

/* .mapSection:hover{
    background-color: #555;
    transition: all 0.2s ease-in-out;
} */




.hoverable:first-child:hover{
    background-color: #555;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
}

.hoverable:last-child:hover{
    background-color: #555;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.firstAnchor{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00b3ff;
    margin-left: -5px;
    transition: all 0.5s ease-in-out;
}

.anchor{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00b3ff;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.anchorInfos{
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background-color: #777;
    margin-left: -25px;
    margin-top: -40px;
    font-size: calc(4px + 1vh);
    text-align: center;
    line-height: 33px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
}

.anchorInfosLast{
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background-color: #777;
    margin-left: -25px;
    margin-top: -40px;
    font-size: calc(4px + 1vh);
    text-align: center;
    line-height: 33px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.hovered{
    opacity: 1;
}

.anchorShadow{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #00b3ff;
    margin-right: -5px;
    animation: blink 1s infinite ease-out both;
}

  
.lastAnchor{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00b3ff;
    margin-right: -5px;
    transition: all 0.5s ease-in-out;
}


.anchorPlaceholder{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: start;
}
.doubleAnchor{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-height: 650px) {

    .mainVisible{
        height: 90vh !important;
        
    }

    .left{
       height: calc(100vh - (50px + 2vh)) !important;
    }
    

    .right{
        height: calc(100vh - (50px + 2vh)) !important;
        overflow-y: scroll;
    }

    

    .footerCompressed{
        display: none;
    }
   
}

.backdropFilter{
    background-color: rgba(0, 0, 0, 0.8);
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - (50px + 2vh));
    z-index: 100;
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.addUser{
    height: 50vh;
    width: 50vw;
    
    display: none;
    opacity: 0;
    scale: 0.5;
    align-items: center;
    justify-content: center;
    z-index: 101;
    transition: all 0.5s ease-in-out;
}

.addUser > .card{
    background-color:  #333333;
    height: calc(200px + 15vh);
    width: calc(400px + 15vw);
    border-radius: 10px;
    border: 1px solid #555;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.addUser > .card > .cardTitle{
    font-size: calc(20px + 1vh);
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addUser > .card > .cardMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    width: 100%;
    height: 70%;
}



.subInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    width: 100%;
    margin-top: 20px;
}

.info > span{
    font-size: calc(12px + 1vh);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 150px;
}

.addUser > .card > .cardMain{
   
    width: 100%;
}

.addUser > .card > .cardMain > .mainInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 25px;
    height: 100%;
    width: 100%;
}

.addUser > .card > .cardMain > .mainInfo > .inputs{
    
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.addUser > .card > .cardMain > .mainInfo > .info{
    
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    margin-bottom: -20px
}

.addUser > .card > .cardMain > .mainInfo > .inputs > input{

    background-color: rgba(176, 176, 176, 0.2);
    border: none;
    border-radius: 10px;
    width: 150px;
    font-size: calc(12px + 1vh);
    padding: 8px;

}

.confirmNewUser{
    background-color: rgba(0, 98, 255, 0.8);
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    font-size: calc(12px + 1vh);
    padding: 8px;
    margin-left: 100px;
    cursor: pointer;
}

.closeNewUser{

    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    top: 55px;
    right: 35px;
    cursor: pointer;
    scale: 1;
    transition: all 0.5s;
}

.closeNewUser:hover{

    scale: 1.2;
    transition: all 0.5s;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.title{
    font-size: calc(24px + 1vh);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -20px;
}

.form > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 90vw;
    height: 300px;
}

.form > div > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 150px;
    width: 50%;
}

.form > div > div > input{
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    font-size: calc(12px + 1vh);
    padding: 10px;
    width: 400px;
    
}

.submitMapInfo{
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 0, 115, 0.8);
    color: white;
    font-size: calc(12px + 1vh);
    padding: 10px;
    width: 70px;
    height: 40px !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}



.anchorMin{
    height: 40px;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    font-size: calc(14px + 1vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchorMin::after{
    content: "N. minimo ancore";
    font-size: calc(6px + 1vh);
    text-wrap: wrap;
    position: relative;
    left: 10px;
}

.anchorDistance{
    height: 40px;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    font-size: calc(12px + 1vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchorDistance:after{
    content: "Distanza ancore (max: 8m)";
    font-size: calc(6px + 1vh);
    text-wrap: wrap;
    position: relative;
    left: 10px;
}

.zoom{
    height: 30px;
    width: 70px;
    border: 1px solid #777;
    border-radius: 25px;
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.segLen{
    height: 30px;
    width: 70px;
    position: absolute;
    top: 0px;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 1vh);
}

.zoomIn{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 6px;
    opacity: 0.5;
}

.hoverable{
    cursor: pointer;
}

.hoverable:hover{
    background-color: #555;
}

.zoomOut{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px;
    opacity: 0.5;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); } 
}

.shake{
    animation: shake 0.5s;
    animation-fill-mode: forwards;
}

.dotShadow{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(0, 255, 0);
    z-index: 99;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 1s infinite ease-out both;
}

.biggerDotShadow{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(0, 255, 0);
    z-index: 90;
    left: 50%;
    top: 50%;
    animation: blink 1s infinite ease-out both;
}

.dotShadowVisible{
    opacity: 0.5;
}

.dotShadow2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(0, 255, 0);
    z-index: 98;
    animation: blink 1s infinite ease-out both;
    opacity: 0.5;
}

@keyframes blink{
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

.dot{
    height: calc((100% / 3) - 20px);
    width: calc((100% / 3) - 20px);
    border-radius: 100%;
    background-color: rgb(0, 255, 0);
    z-index: 100;
    opacity: 0;
}

.biggerDot{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 255, 0);
    border-radius: 100%;
}

.visible{
    opacity: 1;
}


.dotDisplay{
    height: 90px;
    width: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

}
